



#logo {
    width: 2.5em;
    flex-grow: 1;
}

.pen_icon {
    height: 1.5em;
    flex-grow: 1;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
}

.pen_and_count {
    display: flex;
    height: 2em;
    align-self: flex-start;
    flex-grow: 2;
}

.company_name {
    font-size: 25px;
    flex-grow: 1;
    text-align: center;
}
.message_count {
    font-size: 2em;
    flex-grow: 1;
    
}
