
* {
    margin: .2px;
    
}


#logo {
    width: 2.5em;
    flex-grow: 1;
    padding: 3px;
}
#logo:hover {
    cursor: pointer;
}

.pen_icon {
    height: 1.5em;
    padding: 3px;
}
#penMessage:hover {
    cursor: pointer;
}
#message_count {
    cursor: pointer;
}
.navigation {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: start;
    background-color: rgb(210, 252, 210);
    padding: 3px;
    border: 1px solid black;
}

.pen_and_count {
    display: flex;
    height: 2.5em;
    flex-grow: 2;
    flex-direction: row-reverse;
    margin-right: 1em;
}

.company_name {
    font-size: 1.5em;
    flex-grow: 1;
    text-align: justify;
    font-size: 2em;
    padding-left: 1em;
}
.message_count {
    font-size: 1.5em;
    
}
